name: Debug schedule

on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Show debug info
        run: |
          date -u
          echo "event: $GITHUB_EVENT_NAME"
          echo "ref:   $GITHUB_REF"
