name: Fetch KPOP metrics

permissions:
  contents: write

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  fetch-kpop-metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests isodate

      - name: Restore state cache
        uses: actions/cache@v4
        with:
          path: state.json
          key: state-json-${{ github.ref_name }}

      - name: Run script
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          MACKEREL_API_KEY: ${{ secrets.MACKEREL_API_KEY }}
        run: |
          python fetch_youtube_latest_mv.py

      - name: Save state cache
        if: always()
        uses: actions/cache/save@v4
        with:
          path: state.json
          key: state-json-${{ github.ref_name }}-${{ github.run_id }}
